.MainText{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
.GameText{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    min-height: 100px;
    background-color: beige;
}
.UsersInput {
    text-align: center;
    margin: auto;
}
.AudioHead {
    float: top;
    margin: auto;
    display: block;
    margin-bottom: 8px;
}
.ChooseButtons {
    justify-content: center;
    display: block;
    text-align: center;
    margin: 2%;
    
}
.Button3 {
    padding: 10px;
    min-width: 70px;
}
.Button4 {
    padding: 10px;
    min-width: 70px;
    margin-left: 2%;
    margin-right: 2%;
}
.Button5 {
    padding: 10px;
    min-width: 70px;
}

.Button3:hover , .Button4:hover, .Button5:hover {
    background-color: black;
    color: white;
    border:  none;
    transition: 0.3s;
}


